table{
    border: 1px solid black;
    padding: 5px;
}

td {
    padding: 5px;
}

form label,
form input {
    display: block;
    margin-bottom: 5px;
}

#formDifficulty {
    display: flex;
    margin-right: 15px;
}

.runDelBtn {
    width: 100%;
}